<h1>SubCategories#index</h1>
<h1>Hello, Rails!</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>
  <strong>ID:</strong>
  <%= @SubCategories.id %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @SubCategories.name %>
</p>
